h1{
    color:green;
    font-family:Tahoma;
}
p span.s1{
    font-family: Arial;
}
p span.s2{
    font-family: Courier New;
}
p span.s3{
    font-family: monospace;
}
p span.s4{
    font-family: Georgia;
}
p span.s5{
    font-family: Lusinda Sans;
}

div{
    font-family: Verdana; 
    margin: 20px; 
    font-size: 14px;
    line-height: 21px;
    
}
div h2,h4{
    text-decoration: underline;
    text-transform:uppercase;
}

div p{
    width: 600px;
    text-align: justify;
  }
  a{
      font-family: Tahoma;
      font-size: 18px;
  }